* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: #510552;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

body,
input,
button {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}